fastapi
uvicorn[standard]

sqlalchemy>=2.0
asyncpg
psycopg2-binary

pydantic[email]>=2.0
pydantic-settings
email-validator

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-dotenv
alembic

pyotp
twilio
requests
httpx