fastapi
uvicorn[standard]

sqlalchemy>=2.0
asyncpg
psycopg2-binary

pydantic>=2.0
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-dotenv
alembic

pyotp
twilio
requests
httpx